@charset "utf-8";
/*ヘッダー*/
nav ul{
  display: flex;
  justify-content: space-around;
  background-color: #000;
  padding: 20px 70px;
}

nav ul li{
  font-size: 20px;
}

nav ul li a{
  color: #fff;
  text-decoration: none;
}

header{
  position: fixed;
  width: 100%;
}


/*メイン*/

main{
  padding: 60px 0;
}

#top{
  height: 700px;
  background: url(../img/top.png) no-repeat center;
  background-size: cover;
}

.top_wrap h1{
  font-size: 60px;
  color: #fff;
  float: right;
  margin: 275px;
}

/* サービス */

#service{
  width: 100%;
  margin: 0 auto;
  padding: 100px 0;
  
}

.section_title{
  font-size: 40px;
  margin-bottom: 50px;
  text-align: center;
  color: #000;
}

.service_wrap{
  display: flex;
  align-items: center;
  justify-content: center;
}

.service_left img{
  width: 80%;
  height: auto;
}

.service_right{
  text-align: center;
}

.service_right h3{
  color: rgba(255, 217, 0, 0.904);
  font-size: 50px;
  text-shadow: rgba(5,3,3,0.5) 2px 2px 2px;
  margin: 30px;
}

.service_right h4{
  font-size: 25px;
  padding: 20px 0;
  line-height: 1.8;
}

.service_right h4 span{
  font-size: 60px;
  color: rgb(255, 208, 0);
  background-color: rgba(36, 112, 253, 0.767);
  padding: 10px ;
}

.bar{
  background-color: #000;
}

.service_right p{
  font-size: 15px;
  color: #555;
  line-height: 1.5;
}

.condition{
  display: inline-block;
  text-align: left;
}

/* ニュース */

#news{
  width: 100%;
  margin: 0 auto;
  padding: 100px 0;
  background-color: rgb(239, 248, 255);
}

.news_wrap{
  max-width: 450px;
  margin: 0 auto;
}

.news_wrap p{
  line-height: 2.5;
}

/* 価格 */

#price{
  width: 80%;
  margin: 0 auto;
  padding: 100px 0;
}

.price_wrap table{
  border: double #000 10px;
  width: 100%;
  text-align: center;
}

.price_wrap table tr{
  border: solid #000 2px;
  padding: 10px;
}

.price_wrap table th{
  border: solid #000 2px;
  padding: 10px;
}

.price_wrap table td{
  border: solid #000 2px;
  padding: 10px;
}

/* お問い合わせ */

#contact{
  background: rgb(241,241,241);
  padding: 60px 0;
}

#contact h2{
  padding: 40px 0;
}

.form{
  width: 70%;
  margin: 0 auto;
}

label{
  display: inline-block;
  width: 30%;
  line-height: 2;
}

input,textarea{
  box-sizing: border-box;
  border: solid #ddd 1px;
  width: 65%;
  margin-bottom: 15px;
}

input{
  padding: 6px;
}

textarea{
  vertical-align: top;
  height: 200px;
}

.button_submit{
  text-align: center;
}

.button{
  padding: 10px 50px;
  background-color: #555;
  margin: 50px 0;
  font-weight: bold;
  border: none;
  color: #fff;
}

/* フッター */

#footer{
  background-color: #444;
  padding: 50px;
  text-align: center;
  color: #fff;
}